@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');
.front-item {
    margin: 1rem;
    width: 60%;
    padding-left: 1.5rem;
    min-width: 17.5rem;
    justify-items: stretch;
    font-family: 'REM', sans-serif;
}

.front-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
    background: #395b64;
}

.front-item a:hover,
.front-item a:active {
    background: #850e35;
}

.front-item__content {
    padding: 0;
}

.front-item__image {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}

.front-item__info h2 {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    color: #e4dccf;
}

.front-item:hover h2,
.front-item:active h2,
.front-item:hover h3,
.front-item:active h3 {
    color: #e4dccf;
}

.front-item__info h3 {
    margin: 0;
}