.card {
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background: white;
}
.card:hover{
    transform: scale(1.05);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}